<h1><%= title %></h1>
<div>
    <%- messages() %>
</div>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>
<form id="addInventory-form" method="post" action="/inv/detail">
    <p class="requiredFields">Fields are required.</p>
    <div>
        <label id="topLabel" class="top" for="classification_name">Classification
            <%- classificationList %>
        </label>
    </div>
    <div>
        <label class="top" for="inv_make">Make</label>
        <input type="text" id="inv_make" name="inv_make" placeholder="Min of 3 characters" pattern=".{3,}" value="<%= locals.inv_make %>" required>
    </div>
    <div>
        <label class="top" for="inv_model">Model</label>
        <input type="text" id="inv_model" name="inv_model" placeholder="Min of 3 characters" pattern=".{3,}" value="<%= locals.inv_model %>" required>
    </div>
    <div>
        <label class="top" for="inv_description">Description</label>
        <input type="text" id="inv_description" name="inv_description" value="<%= locals.inv_description %>" required>
    </div>
    <div>
        <label class="top" for="inv_image">Image Path</label>
        <input type="text" id="inv_image" name="inv_image" value="<%= inv_image %>" required>
    </div>
    <div>
        <label class="top" for="inv_thumbnail">Thumbnail Path</label>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" value="<%= inv_thumbnail %>" required>
    </div>
    <div>
        <label class="top" for="inv_price">Price</label>
        <input type="text" id="inv_price" name="inv_price" placeholder="Decimal or integer" pattern="^\d+(\.\d{1,2})?$" value="<%= locals.inv_price %>" required>
    </div>
    <div>
        <label class="top" for="inv_year">Year</label>
        <input type="text" id="inv_year" name="inv_year" placeholder="4 digits" pattern="^\d{4}$" value="<%= locals.inv_year %>" required>
    </div>
    <div>
        <label class="top" for="inv_miles">Miles</label>
        <input type="text" id="inv_miles" name="inv_miles" placeholder="Digits only" pattern="^\d+$" value="<%= locals.inv_miles %>" required>
    </div>
    <div>
        <label class="top" for="inv_color">Color</label>
        <input type="text" id="inv_color" name="inv_color" value="<%= locals.inv_color %>" required>
    </div>
    <button id="addVehicleBtn" type="submit">Add Vehicle</button>
</form>